<!DOCTYPE html>
<html>

<head>
    <title>
        CHAT APP
    </title>
    <link rel="stylesheet" href="public/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Nanum Pen Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
</head>




<body id="arkaPlan">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/public/js/cookie.js"></script>
    <script type="text/javascript" src="/public/js/notify.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
    <%-body%>
</body>

</html>