<div id="selectPage"></div>
<p id="selectPageTitle">SELECT GAME</p>
<div id="selectPageGames">
    <img id="1v1FastBall" style="opacity:1.0" height="200" width="200" src="/public/img/futballGame.png">
</div>